extends layout

block content
  button(id="newJobBTN") Start New Job
  #yourJobs Finished Jobs
  #allAudits  
    .row
      .theC Company Name
      .theD Date
      .yo Reimbursement
    each val, index in jobs
      .row(class="#{val.isFraud}",data="#{val.id}")
        .theCompany #{val.companyName}
        .theDate #{val.todaysDate}
        .reimbursementAmount(data="#{val.reimbursement}") $#{val.reimbursement}
        .buttons
          button(class="viewBTN") View Full Job
          button(class="deleteBTN") Delete 
    #totalReimbursement Total Claims Payouts
    input(type="checkbox" id="fraudLooker")
    |	See only Fraud Reports
            
    

block jscript
  script(src='/javascripts/frontPage.js')
  script(src='/javascripts/sort.js')
