extends layout

block content
  button(class="backToHome") Start New Job
  #yourJobs Finished Jobs
  #allAudits  
    //- .row(class="#{val.isFraud}",data="#{val.id}")
    //-   //- .theCompany #{val.companyName}
    //-   //- .theDate #{val.todaysDate}
    //-   //- .reimbursementAmount $#{val.reimbursement}
    //-   .buttons
    //-     button(id="viewBTN") View Full Job
    //-     button(id="editBTN") Edit 
    //-     button(id="deleteBTN") Delete 
      

        
    

block jscript
